.checkbtn, .checkbtn2{
    display: block;
}

#hero {
    background-image: none;
    background-color: var(--white);
}

nav ul {
    position: fixed;
    height: 40vh;
    width: 100%;
    background-color: #181818;
    text-align: center;
    top: -100%;
    transition: all .3s; 
}

nav ul li {
    display: block;
}

nav ul li a{
    color: var(--white);
}

#check:checked ~ ul{
    top: 0;
    transition: all .3s; 
}
#check:checked ~ .checkbtn {
    visibility: hidden;
}

#check2:checked ~ ul {
    top: -100%;
}

.hero-text {
    margin: 0;
    padding-top: 20%; 
    padding-right: 10%;
    width: 89%;
}

h1.hero-heading {
    margin-top: 0;
}